.deps
.libs
.perf
cairo-*.*.*
manual-*.*.*
ChangeLog*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.status
configure
configure.scan
doltcompile
doltlibtool
gtk-doc.make
libtool
releases
stamp-h
stamp-h1
stamp-h.in
*~
.*.sw?
*.la
*.lo
*.log
*.orig
*.rej
*-uninstalled.pc
.vimrc
